<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="styles/estilos.css">


</head>

<body>
    <div id="app">
        <form class="formulario" v-on:submit.prevent="login">

            <h1>Login</h1>
            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                    <input v-model="email" type="text" placeholder="Correo Electronico">

                </div>
                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input v-model="password" type="password" placeholder="Contraseña">
                </div>
                <input type="submit" value="Login" class="button">
                <!--<button @click="login" type="button" value="Login" class="button">Login</button>-->
                <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                <p>¿No tienes una cuenta? <a class="link" href="registrarvista.html">Registrate </a></p>
                <p>Volver a <a class="link" href="index.html">HOME</a></p>
            </div>
        </form>
    </div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="script/login.js"></script>

</html>