:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a {
style: none;
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-mix {
    background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }
    .stat {
        border: 0;
    }
}

#registro{
    margin-top: 5vh;
    animation: transi 0.75s;
    width: 75%;
}

@keyframes transi {
    0%{transform: translateY(-20%);
    opacity: 0;}
    100%{transform: translateY(0%);
    opacity: 1;}
}

.tarjetaNoCuenta{
    position: absolute;
    z-index: 1;
    right: 0%;
}
.bi-x-circle-fill{
    font-size: 1.5rem;
    color: #dc3545;
}

form {
    padding: 1.5rem 0 1.5rem 0;
}

.mensasjeCard{
    position: absolute;
    z-index: 1;
    right: 0%;
}

@media (min-width: 768px){
    form {
        padding: 1.5rem 5rem 1.5rem 5rem;
    }
}

@media (min-width: 768px){
    .mensasjeCard{
        right: 25%;
    }
}

@media (min-width: 991px){
    .tarjetaNoCuenta{
        right: 33%;
    }

    .mensasjeCard {
        right: 29%;
    }
}